@font-face {
  font-family:'Monoton', cursive; ;
  src: url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
}
html{
  height: 100%;
}

body {
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header header3"
  "score game score2"
  "empty empty empty";
  justify-items:center ;
  font-family:'Monoton', cursive; ;
  text-align: center;
}
.header{
  grid-area: header;
  font-size: 100px;
  position: relative;
  left: 120px;
 
}

.board { 
  grid-area: game;
  display: inline-flex;
  position: relative;
  top: 300px;


  
}
.buttons{
  grid-area: header3;
  position: relative;
  top: 200px
 
}
#newRound{
  border-radius: 50px;
  height: 50px;
  font-family: monospace;
}
#tieBreaker{
  border-radius: 50px;
  height: 50px;
  font-family: monospace;
}
#d0 {
    text-align: center;
    margin: 5px;
    height: 200px;
    width: 200px;
    font-size: 120px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:coral ;
    align-items: center;
    
}

#d1 {
    text-align: center;
    margin: 5px;
    height: 200px;
    width: 200px;
    font-size: 120px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:coral;
    align-items: center;
}

#d2 {
    text-align: center;
    margin: 5px;
    height: 200px;
    width: 200px;
    font-size: 120px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:coral;
    align-items: center;
}
.playerOne{
   grid-area: score; 
   position: relative;
   top: 300px;

}
.playerTwo{
  grid-area: score2;
  position: relative;
  top: 300px;

}

#player1Score{
    align-items: center;
    text-align: center;
    
    height: 70px;
    width: 70px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    background-color:coral ;
}

#player2Score{
    text-align: center;
   
    height: 70px;
    width: 70px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    background-color:coral ;
}

#player1Roll{
  margin: 2px;
  text-align: center;
  height: 70px;
  width: 70px;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:coral ;
}

#player2Roll{
  margin: 2px;
  text-align: center;
  height: 70px;
  width: 70px;
  font-size: 40px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:coral ;
}
#p1{
  font-size: xx-small;
}
#p2{
  font-size: xx-small;
}
#playButton{
  margin: 2px;
  background-color: coral;
  color: white;
  border-radius: 10px;
 
}
#playButton:hover{
  background-color: white;
  color: coral;
}
#playButton2:hover{
  background-color: white;
  color: coral;
}
#playButton2{
  margin:2px;
  background-color: coral;
  color: white;
  border-radius: 10px;
  
}
.level-winner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    font-family:'Monoton', cursive; ;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: blanchedalmond;
  }
  .level-winner-p2 {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: blanchedalmond;
  }
  .level-winner-tie {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: blanchedalmond;
  }
#tieBreaker{
  opacity: 0;
  /* display: none;
}