@font-face {
  font-family:'Monoton', cursive; ;
  src: url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
}
html{
  height: 100%;
}

body {
    min-height:100%;
    /* display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "a b b b c"
    "d e e e f"
    "d e e e f"
    "d e e e f"
    "g h h h i"; */
    background-color:cornsilk;
    text-align: center;
    align-content: baseline;
    font-family:'Monoton', cursive; ;
    font-size: 70px;

}

.wholegame {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "a b b b c"
  "d e e e f"
  "d e e e f"
  "d e e e f"
  "g h h h i";
  align-content: center;
  position: relative;
  top:200px
  
}

.board { 
 display:flex;
 grid-area: e;
 align-items: center;
 justify-content: center;
 width: 75%;
 position: relative;
 left: 100px;
 padding-left: 50px;

  
}

#d0 {
    text-align: center;
    margin: 5px;
    height: 150px;
    width: 150px;
    font-size: 95px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:coral ;
    align-items: center;
    
}

#d1 {
    margin: 5px;
    height: 150px;
    width: 150px;
    font-size: 95px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:coral;
    align-items: center;
}

#d2 {
    margin: 5px;
    height: 150px;
    width: 150px;
    font-size: 95px;
    border: 2px solid black;
    border-radius: 10px;
    background-color:coral;
    align-items: center;
}
.playerOne{
  grid-area: d;
  margin: 20px;
  grid-row-start: 1;

}
.playerTwo{
  grid-area: f;
  margin: 20px;
  grid-row-start: -6;
}

#player1Score{
    align-items: center;
    margin-left: 15px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    background-color:coral ;
}

#player2Score{
    text-align: center;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    background-color:coral ;
}

#player1Roll{
  margin-left: 15px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:coral ;
}

#player2Roll{
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 10px;
  background-color:coral ;
}
#p1{
  position: relative;
  top: 25px;
  left: -10px;

  font-size: xx-small;
}
#p2{
  position: relative;
  top: 25px;
  left: -10px;

  font-size: xx-small;
}
#playButton{
  background-color: coral;
  color: white;
  position: relative;
  left: -10px;
  /* margin: 5px; */
}
#playButton:hover{
  background-color: white;
  color: coral;
}
#playButton2:hover{
  background-color: white;
  color: coral;
}
#playButton2{
  left: -7px;
  background-color: coral;
  color: white;
  position: relative;
  margin: 5px;
}
.level-winner {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family:'Monoton', cursive; ;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: blanchedalmond;
  }
  .level-winner-p2 {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: blanchedalmond;
  }
  .level-winner-tie {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 4rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
    color: blanchedalmond;
  }
#tieBreaker{
  opacity: 0;
  /* display: none; */
}